*

!*.fut
!*.out
!*.sh
!**/

spatial_v2
*.c
*.actual
*.expected
*.txt
rnea
lib/github.com/diku-dk/vtree/vtree.fut
lib/github.com/diku-dk
test/testVtreeRNEA
/test/rnea_test_against_RF_matlab
/test/mk_preorder_test
data
